langchain==1.2.7
langchain-core==1.2.7
langchain-openai==1.1.7
langchain-community==0.4.1
langchain-text-splitters==1.1.0
langchain-deepseek==1.0.1
langchain-huggingface==1.2.0
langchain-mcp-adapters==0.2.1
langgraph==1.0.7
langgraph-prebuilt==1.0.7
langgraph-checkpoint==4.0.0
langgraph-checkpoint-sqlite==3.0.3
langsmith==0.6.6
python-dotenv==1.2.1
pydantic==2.12.5
sentence-transformers==5.2.2
transformers==4.57.3
torch==2.8.0+cu128
sqlite-vec==0.1.6
dashscope==1.25.10
requests==2.32.5
PyAudio==0.2.14
mcp==1.12.4


# 卸载旧版本
#pip uninstall torch torchvision torchaudio flash-attn -y

# 安装 PyTorch 2.8.0 + CUDA 12.8
#pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu128

# 安装 flash-attn 2.8.3
#pip install --no-deps https://github.com/kingbri1/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3%2Bcu128torch2.8.0cxx11abiFALSE-cp312-cp312-win_amd64.whl

# 验证
#python -c "import torch, flash_attn; print('PyTorch:', torch.__version__); print('CUDA:', torch.version.cuda); print('flash_attn:', flash_attn.__version__); print('All OK!')"
